{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>About-Me</title>
        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
        <link href="{% static 'css/about.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Header-->
        <header>     <!-- class="masthead text-center text-white"-->
            <div class="masthead-content">
                <div class="container px-5">
                    <h3 style="color:rgb(207, 19, 50)" class="masthead-subheading mb-0">I put myself in the way of things happening,</h3>
                    <h1 style="font-size: 80px;" class="masthead-heading mb-0">and they happened</h1>
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
        </header>
        <!-- Content section 1-->
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'img/01.jpg' %}" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Profession...</h2>
                            <p>I have done my MCA at CHRIST UNIVERSITY Bangalore. Goal-oriented Web Developer with a strong commitment to collaboration and 
                                solution oriented problem solving skills and adequate Researcher.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 2-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'img/02.jpg' %}" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">Passion!</h2>
                            <p>Technology is a passion of mine, I really enjoy learning new trends and creating new things. 
                                To see success on technology work more efficiently. ...!! “Build it first and worry about the mess later.” </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 3-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'img/03.jpg' %}" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Personal Thoughts!</h2>
                            <p> To be kind to others and myself AND
                                To help as many people as possible.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
